.auth-links {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.auth-links a {
  color: #2563eb; /* azul pro */
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.auth-links a:hover {
  text-decoration: underline;
}
